services:
  - type: web
    name: telegram-bot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python web.py
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.9
      - key: PUBLIC_BASE_URL
        value: https://ni6488295720w-31ma.onrender.com
